body {
    background-color: #D4D4D2;
}

h1 {
    color: #FFF;
    margin: 0.2em;
}

h2 {
    color: #D4D4D2;
}

.div_altura {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_peso {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    height: 1.5em;
    width: 10em;
    margin-left: 2em;
}

textarea {
    width: 100%;
    margin-top: 2em;
    resize: none;
    border-radius: 0.5em;
}

.container {
    background-color: #1C1C1C;
    display: inline-flex;
    padding: 1.5em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    
}

.area {
    display: flex;
    justify-content: center;
    position: relative;
    height: 200px;
}

button {
    height: 3em;
    width: 100%;
    background-color: #FF9500;
    border: none;
    color: #FFF;
    border-radius: 1em;
    margin-top: 1em;
    cursor: pointer;
}